{{ define "autonav.tmpl" }}
<div class="navbar-outer">
  <div class="logo-nav" onclick="window.location = window.location.origin">{{ .CompanyName }}</div>

  <div class="nav-landscape">
    <ul>
    
      <li onclick="jumpTo('section-twitter')">twitter</li>
<li onclick="jumpTo('section-facebook')">facebook</li>
<li onclick="jumpTo('section-insta')">insta</li>

    </ul>
  </div>

  <div class="nav-portrait" id="nav-portrait">
    <div class="nav-portrait-logo">{{ .CompanyName }}</div>
    <ul>
    
<li onclick="jumpTo('section-twitter')">twitter</li>
<li onclick="jumpTo('section-facebook')">facebook</li>
<li onclick="jumpTo('section-insta')">insta</li>

    </ul>
  </div>

  <div class="ham-outer" onclick="showNavPortrait()">
    <div class="hamburger"></div>
    <div class="hamburger"></div>
    <div class="hamburger"></div>
  </div>

</div>

<style>{{ template "autonav.css" }}</style>
<script>{{ template "autonav.js"}}</script>
{{end}}