{{ define "twitter.tmpl" }}
<div class="section-outer twitter-outer section-twitter" id="section-twitter">
</div>
<style>{{ template "twitter.css" }}</style>
<script>{{ template "twitter.js"}}</script>
{{end}}