{{ define "autosplash.tmpl" }}
<div class="section-outer autosplash-outer">
  <div class="splash-inner">
    <div class="splash-logo">{{.CompanyName}}</div>
  </div>
</div>
<style>{{ template "autosplash.css" }}</style>
<script>{{ template "autosplash.js"}}</script>
{{end}}