{{ define "facebook.tmpl" }}
<div class="section-outer facebook-outer section-facebook" id="section-facebook">
</div>
<style>{{ template "facebook.css" }}</style>
<script>{{ template "facebook.js"}}</script>
{{end}}